<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 13:05:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebLoginTest.main()[pri:0, instance:com.web.sample.testcase.WebLoginTest@5c18298f]">main</td> 
  <td>main@1312884893</td>   <td></td> </tr>
<tr bgcolor="b572b6">  <td>21/02/03 13:04:51</td>   <td>-11524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseclassWeb.setup()[pri:0, instance:com.web.sample.testcase.WebLoginTest@5c18298f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1312884893</td>   <td></td> </tr>
</table>
